{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Products</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>
    <style>
      .heart {
        cursor: pointer;
        font-size: 24px;
        color: #ccc;
      }
      .heart.active {
        color: red;
      }
    </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    <h1>All Products</h1>
    <ul>
      {% for product in products %}
      <li>
        <img
          src="{{ product.image_url }}"
          alt="{{ product.name }}"
          width="150"
        /><br />
        <strong>{{ product.name }}</strong><br />
        ${{ product.price }}<br />
        {{ product.category.name }}<br />
        {{ product.description|truncatewords:20 }}... <br />
        <i class="fas fa-heart heart" data-product-id="{{ product.id }}"></i>
      </li>
      {% endfor %}
    </ul>

    <script>
      const hearts = document.querySelectorAll(".heart");

      hearts.forEach((heart) => {
        heart.addEventListener("click", function () {
          const productId = this.dataset.productId;

          fetch(`/add-to-wishlist/${productId}/`, {
            method: "POST",
            headers: {
              "X-CSRFToken": "{{ csrf_token }}",
              "Content-Type": "application/json",
            },
          }).then((res) => {
            if (res.ok) {
              this.classList.add("active");
            }
          });
        });
      });
    </script>
    {% include 'footer.html' %}
  </body>
</html>
