<form
      style="
        display: flex;
        align-items: center;
        background: white;
        border-radius: 7px;
        overflow: hidden;
        background-color: #f4f4f4;
        margin-right: 20px;
        display: flex; 
        justify-content: flex-end; 
      "
    >
      <input
        type="text"
        placeholder="Search Aladdin"
        style="padding: 0.5rem; border: none; outline: none"
      />
      <select style="border: none; padding: 0.5rem; background-color: #f4f4f4">
        <option>All Categories</option>
      </select>
      <button
        type="submit"
        style="background-color: #03556f; padding: 0.5rem; border: none"
      >
        🔍
      </button>
    </form>